.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8em;
}

.container__titulo {
    padding-left: 1em;
}

.container__lista {
    display: flex;
    margin-right: auto;
}

.container__item {
    padding: 0 1em;
    margin: auto;
}

.container__link {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    line-height: 24px;
}

.container__botao {
    display: flex;
    margin-right: 8em;
}

.botao {
    display: flex;
    align-items: center;
}

.botao__entrar, .botao__cadastrar {
    padding: 0 1em;
}

.botao__cadastrar > .botao__link {
    background-color: var(--vermelho);
    color: var(--cor-fundo);
    padding: 0.8em 1em;
    border-radius: 8px;
}

.botao__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    color: var(--cinza);
}