.cabecalho {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 5em;
}

.container__titulo {
    padding-left: 1em;
}

.container__lista {
    display: flex;
}

.container__item {
    padding: 0 1em;
    margin: auto;
}

.container__link {
    text-decoration: none;
    color: var(--cinza);
}

.container__botao {
    display: flex;
}

.botao {
    display: flex;
    align-items: center;
}