.area-de-vagas {
    margin: 3em 2em;
}

.design__area, .software__area {
    margin: 0 auto;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 755px;
}

.design__titulo, .software__titulo {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--azul-black);
}

.vaga {
    padding: 24px 24px 28px;
    width: 720px;
    border: 1px solid var(--borda-cinza);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.titulo__vaga {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--azul-black);
}

.infos {
    font-weight: 500;
    line-height: 24px;
    color: var(--cinza);
}

.infos > span {
    padding-right: 1em;
}